.main-wrapper {
    font-family: var( --body-font);
}

.main__items {
  width: 70%;
  height: 150px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.main__items-item {
  width: 18rem;
  height: 27rem;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.main__items-item img {
    position: absolute;
    object-fit: cover;
    width: 70px;
    top: 20px;
    left: 20px;
    opacity: 0.9;
    transition: opacity 0.2s ease-out;
}

.main__items-item h2 {
    position: absolute;
    inset: auto auto 1rem 1rem;
    margin: 0;
    transition: inset 0.3s 0.3s ease-out;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: normal;
    text-transform: uppercase;
  }
  .main__items-item p {
    position: absolute;
    opacity: 0;
    max-width: 80%;
    transition: opacity 0.3s ease-out;
  }
  .main__items-item p {
    inset: auto auto 5rem 30px;
  }

  .main__items-item:hover h2 {
    inset: auto auto 18rem 30px;
    transition: inset 0.3s ease-out;
  }
  .main__items-item:hover p {
    opacity: 1;
    transition: opacity 0.5s 0.1s ease-in;
  }
  .main__items-item:hover img {
    transition: opacity 0.3s ease-in;
    opacity: 1;
  }
  