.main-wrapper {
  font-family: var(--body-font);
  padding: 20px;
}

.main__items {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.main__items-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 18rem;
  height: 27rem;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin-bottom: 40px;
  color: var(--text-color);

  transition: all 0.3s;
}

.main__items-item:hover {
  box-shadow: 0 20px 30px 10px rgba(0, 0, 0, 0.2);
}

.main__items-item img {
  width: 70px;
  transition: opacity 0.2s ease-out;
  margin: 20px 0px 20px 0px;
}

.main__items-item h2 {
  transition: inset 0.3s 0.3s ease-out;
  font-family: var(--body-font);
  font-weight: var(--font-semi-bold);
  text-transform: uppercase;
  margin: 20px 0px 20px 0px;
}
.main__items-item p {
  opacity: 1;
  max-width: 80%;
  text-align: justify;
  transition: opacity 0.3s ease-out;
  margin: 20px 0px 20px 0px;
}

.main__items-item:hover img {
  transition: opacity 0.3s ease-in;
  opacity: 1;
}

@media screen and (max-width: 992px) {
  .main__items-item {
    width: 47%;
  }

  .main__items {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .main__items-item {
    width: 100%;
  }
}
