body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: #fff;
  text-align: center;
}

.logo {
  width: 75px;
  margin-right: 20px;
}


nav {
  display: flex;
  justify-content: center;
  background-color: #444;
  padding: 0.5rem 0;
}

nav a {
  color: #fff;
  margin: 0 1rem;
  text-decoration: none;
}

.container {
  width: 100%;
  padding: 2rem;
}